.sliders{
    // background-color: #d89347;
  
  }
  
  .slideshow {
    //   position: relative;
    margin:  0 auto;
    overflow: hidden;
    max-width: 70vw;
    margin-top: 100px;
    
    margin-bottom: 0px;
  
  
  
  }

  .slideshowSlider {
    white-space: nowrap;
    transition: ease 1300ms;
  }
  
  .slide {
    display: inline-block;
  
    height: 400px;
    width: 100%;
  padding-top: 35px;
    img{
      width: 1150px;
      height: 650px;
    }
  }
  
  /* Buttons */
  
  .slideshowDots {
    text-align: center;
  }
  
  .slideshowDot {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
  
    cursor: pointer;
    margin: 15px 7px 0px;
  
    background-color: #c4c4c4;
  }
  
  .slideshowDot.active {
    background-color: #ffa13b;
  }
  